.pathfinder-container {
  display: grid;
  grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr 1fr 1fr 0.4fr;
  grid-template-columns: 0.1fr 0.51fr 0.1fr 1fr 1fr 1fr 1fr; 
    border: 2px solid rgb(102, 18, 18);
    border-radius: 10px;
}

.grid-container {
    grid-row: 2 / 8;
    grid-column: 4 / 8;
    background-color: aliceblue;
    line-height: 0 ;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid rgb(53, 0, 53);

}

.app-title {
    grid-row: 1 / 2;
    grid-column: 4 / 8;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 39, 102);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid rgb(53, 0, 53);
    padding: 10px;
}

.reset {
width:fit-content;
  grid-row: 8/ 9;
  grid-column: 4 / 5;
      border-bottom-left-radius: 10px;
}

.visualise {
  grid-row: 8 / 9; 
  grid-column: 7 / 8; 
      border-bottom-right-radius: 10px;
      height: 40px
}

.toggle-wall {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-self: center;
}

.toggle-text {
    background-color: rgb(243, 243, 243);
    display: inline-block;
    padding: 1px;
    border-radius: 2px;
    font-size: 95%;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
}

.toggle-algorithm {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-self: center;
}

.algorithm-text {
    background-color: rgb(243, 243, 243);
    display: inline-block;
    padding: 1px;
    border-radius: 2px;
    font-size: 95%;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid black;
    width: fit-content;
}

.no-display {
    visibility: hidden;
}

.wall-type-wall {
    background-color: black;
}

.wall-type-weight {
    background-color: chocolate;
}