.pathfinder-container {
    display: grid;
    grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr 1fr minmax(0.5fr, 1fr) 0.4fr;
    grid-template-columns: 0.1fr 0.51fr 0.1fr 1fr 1fr 1fr 1fr; 
    border: 2px solid rgb(102, 18, 18);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    padding-bottom: 15px;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 40px;
    margin-left: 3vw;
    margin-right: 3vw;
}

.grid-container {
    grid-row: 2 / 8;
    grid-column: 4 / 8;
    background-color: aliceblue;
    line-height: 0 ;
    box-sizing: border-box;

    border: 2px solid rgb(53, 0, 53);
        border-radius: 8px;
    opacity: 100%;
        height: calc(((1.6vw - 2px) * 20) + 2px);
        min-height: 305px;
        min-width: 841px;
}

.app-title {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    grid-row: 1 / 2;
    grid-column: 4 / 8;
    text-align: center;
    font-size: 280%;
    color: rgb(255, 255, 255);
    background: conic-gradient(from -40deg at 75% -25%, rgb(95, 26, 5), rgba(114, 1, 129, 0.904));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid rgb(53, 0, 53);
    padding: 10px;
}

.reset {
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

  grid-row: 8/ 9;
  grid-column: 4 / 5;
    border-bottom-left-radius: 10px;
      height: 5vh;
  width: 15vw;
    font-size: 120%;
    background: conic-gradient(from -40deg at 75% -25%, rgb(100, 28, 6), rgba(66, 0, 75, 0.904));
    color: white;
    margin-top: 1px;
}

.visualise {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  grid-row: 8 / 9; 
  grid-column: 7 / 8; 
  border-bottom-right-radius: 10px;
  height: 5vh;
  width: 18.5vw;
  font-size: 120%;
  background: conic-gradient(from -40deg at 75% -25%, rgb(100, 28, 6), rgba(66, 0, 75, 0.904)); 
  color: white;
  margin-top: 1px;
}

.toggle-wall {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
        display: flex;
        align-self: center;
                    border: 1px solid rgb(102, 18, 18);
                border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
}

.toggle-text {
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
                font-weight: bold;
    background-color: rgb(246, 240, 255);
    display: inline-block;
    border-radius: 2px;
    padding: 15px;
    border: 1px solid rgb(102, 18, 18);
                border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: clamp(0.8rem, 0.9vw, 4rem);
}

.toggle-algorithm {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
        display: flex;
        align-self: center;
            border: 1px solid rgb(102, 18, 18);
                border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
}

.algorithm-text {
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
        font-weight: bold;
    background-color: rgb(246, 240, 255);
    display: inline-block;
    border-radius: 2px;
    padding: 10px;
    border: 1px solid rgb(102, 18, 18);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        font-size: clamp(0.8rem, 0.9vw, 4rem);
}

.toggle-algorithm-button {
        background: conic-gradient(from -40deg at 75% -25%, rgb(100, 28, 6), rgba(66, 0, 75, 0.904));
    color: white;
}

.no-display {
    visibility: hidden;
}

.wall-type-wall {
    background-color: black;
}

.wall-type-weight {
    background-color: chocolate;
}

.legend {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    grid-row: 4 / 8;
    grid-column: 2 / 3;
    height: fit-content(40%);
    width: fit-content(80%);
    margin-top: 5px;
    background-color: rgb(246, 240, 255);
    border: 1px solid rgb(102, 18, 18);
    border-radius: 10px;

}

.legend-title {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    font-size: clamp(0.8rem, 1vw, 4rem);
    font-weight: lighter;
}

.legend-item {
    display: flex;
    align-items: center;
    margin: 5px 10px;
    margin-top: 0.3vw;
}

.legend-icon {
    width: calc(1.6vw - 2px);
    height: calc(1.6vw - 2px);
    box-sizing: border-box;
    border: 2px solid black;
    margin-right: 10px;
}

.legend-text {
    font-weight: lighter;
        font-size: clamp(0.8rem, 0.8vw, 4rem);
        white-space: nowrap;
}

.visited {
        background-color: rgb(0, 183, 255);
}

.target {
    background-color: red;
}

.start {
    background-color: rgb(165, 0, 180);
}

.wall {
    background-color: black;
}

.weighted {
    background-color: chocolate;
}

.shortest {
    background-color: yellow;
}

