.app-container {
    background-color: hsl(258, 64%, 35%);
    display: flex;;
    justify-content: center;
    align-items: center;
    margin: -8px;
    height: 100vh;
    width: 100vw;
    position: relative;
}