.pathfinder-container {
	display: grid;
	grid-template-rows: auto 65px auto auto auto auto auto;
	grid-template-columns: auto auto auto auto auto auto auto;
	border: 2px solid rgb(102, 18, 18);
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	box-sizing: border-box;
	padding-bottom: 15px;
	padding-top: 35px;
	padding-left: 10px;
	padding-right: 40px;
	margin-left: 3vw;
	margin-right: 3vw;

}

.app-title {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	grid-row: 1 / 2;
	grid-column: 2 / 7;
	text-align: center;
	font-size: clamp(220%, 3vw, 5vw);
	color: rgb(255, 255, 255);
	background: conic-gradient(from -40deg at 75% -25%, rgb(95, 26, 5), rgba(114, 1, 129, 0.904));
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 2px solid rgb(53, 0, 53);
	padding: 10px;
	width: calc(((1.6vw - 2.3px) * 50));
	min-width: 907px;
}

@media screen and (max-height: 950px) and (min-width: 1900px) {
	.pathfinder-container {
		zoom: 0.9;
	}
}

@media screen and (max-width: 1300px) {
	.pathfinder-container {
		zoom: 0.85;
	}
}

@media screen and (max-width: 970px) {
	.pathfinder-container {
		zoom: 0.75;
	}
}

@media screen and (max-width: 910px) {
	.pathfinder-container {
		zoom: 0.7;
	}
}

@media screen and (max-width: 850px) {
	.pathfinder-container {
		zoom: 0.65;
	}
}

@media screen and (max-width: 785px) {
	.pathfinder-container {
		zoom: 0.6;
	}
}