
.node {
    width: calc(1.6vw - 2px);
    height: calc(1.6vw - 2px);
    min-height: 18.5px;
    min-width: 18.5px;
    box-sizing: border-box;
    border: 1px solid rgba(204, 204, 204, 0.37);
    display: inline-flex;
    position: relative;
}

.isTarget {
    background-color: red;
    border: 2px solid black;
}

.isStart {
    background-color: rgb(165, 0, 180);
    border: 2px solid black;
}

.isWall {
    background-color: black;
}

.isWeighted {
    background-color: chocolate;
}

.isSorting {
    background-color:blueviolet;
}

.isAutomata {
    background-color: blue;
}

.isVisited {
    animation-name: visitedAnimation;
}

.isShortestPath {
    animation-name: shortestPath;
}

.isWeightedShortestPath {
    background-color: chocolate;
    box-shadow: inset 0 0 15px yellow;
}

.isVisited, .isShortestPath {
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.djisktras-map-value {
    font-size: 10px;
    align-self: center;
    position: absolute;
    margin-left: calc(0.6vw - 1px);;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: yellowgreen;
    }
    50% {
        background-color: yellow;
    }
    75% {
        transform: scale(1.2);
        background-color: rgb(137, 255, 59);
    }
    100% {
        transform: scale(1);
        background-color: rgb(0, 183, 255);
    }
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: yellow;
    }
    50% {
        transform: scale(1.2);
        background-color: yellow;
    }
    100% {
        transform: scale(1);
        background-color: yellow;
    }
}

#node-19-49 {
    border-bottom-right-radius: 5px;
}

#node-19-0 {
    border-bottom-left-radius: 5px;
}

#node-0-0 {
    border-top-left-radius: 5px;
}

#node-0-49 {
    border-top-right-radius: 5px;
}