.visualise,
.reset,
.toggle-text,
.algorithm-text,
.slider-label {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.toggle-algorithm,
.algorithm-text,
.toggle-text,
.toggle-wall {
	border: 1px solid rgb(102, 18, 18);
	border-radius: 0px 10px 10px 0px;
}


.visualise,
.reset {
	background: conic-gradient(from -40deg at 75% -25%, rgb(100, 28, 6), rgba(66, 0, 75, 0.904));
	color: white;
	margin-top: 15px;
	height: 5vh;
	min-height: 40px;
	width: 16.5vw;
	min-width: 192px;
	position: relative;
	place-self: center;

}

.visualise {
	grid-column: 6 / 7;
	grid-row: 7 / 8;
	font-size: clamp(0.8rem, 1vw, 4rem);
	border-bottom-right-radius: 10px;
}

.reset {
	grid-row: 7 / 8;
	grid-column: 3 / 4;
	font-size: 120%;
	border-bottom-left-radius: 10px;
}


.toggle-wall,
.toggle-algorithm {
	display: flex;
	align-self: center;
	margin: 0.2vw 33px 0px 30px;
	/* top, right, bottom, left */
	grid-column: 1 / 2;
}

.toggle-wall {
	grid-row: 3 / 4;
}

.toggle-algorithm {
	grid-row: 2 / 3;
	padding-bottom: -10px;
}


.toggle-text,
.algorithm-text {
	font-weight: bold;
	text-align: center;
	background-color: rgb(246, 255, 240);
	font-size: clamp(0.8rem, 0.7vw, 4rem);
	width: 100%;
}

.toggle-text {
	padding: 12px;
}

.algorithm-text {
	padding: 5px;
}

.text-value {
	color: limegreen;
}

.toggle-algorithm-button {
	background: conic-gradient(from -40deg at 75% -25%, rgb(100, 28, 6), rgba(66, 0, 75, 0.904));
	color: white;
	width: 2.2vw;
	min-width: 35px;
	max-width: 200px;
}

.wall-type-wall,
.wall-type-weight {
	width: 2.2vw;
	min-width: 35px;
	max-width: 200px;
}

.wall-type-wall {
	background-color: black;
}

.wall-type-weight {
	background-color: chocolate;
}

.slider {
	display: flex;
	grid-row: 7 / 8;
	grid-column: 5 / 6;
	border-radius: 10px;
	justify-content: center;
	padding-right: 40px;
	padding-left: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 24.5vw;
	min-width: 450px
}

.slider-label {
	color: white;
	font-size: clamp(0.8rem, 0.8vw, 4rem);
	white-space: nowrap;
	margin-top: 13px;
}

.MuiBox-root {
	margin-left: 10px;
}




