
.node {
    width: calc(1.6vw - 2px);
    height: calc(1.6vw - 2px);
    min-height: 18.5px;
    min-width: 18.5px;
    box-sizing: border-box;
    border: 1px solid rgba(204, 204, 204, 0.37);
    display: inline-block;
}

.node-target {
    background-color: red;
    border: 2px solid black;
}

.node-start {
    background-color: rgb(165, 0, 180);
    border: 2px solid black;
}

.node-wall {
    background-color: black;
}

.node-weighted {
    background-color: chocolate;
}

.node-visited {
    animation-name: visitedAnimation;
}

.node-shortest-path {
    animation-name: shortestPath;
}

.node-visited, .node-shortest-path {
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: yellowgreen;
    }
    50% {
        background-color: yellow;
    }
    75% {
        transform: scale(1.2);
        background-color: rgb(137, 255, 59);
    }
    100% {
        transform: scale(1);
        background-color: rgb(0, 183, 255);
    }
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: yellow;
    }
    50% {
        transform: scale(1.2);
        background-color: yellow;
    }
    100% {
        transform: scale(1);
        background-color: yellow;
    }
}

#node-19-49 {
    border-bottom-right-radius: 5px;
}

#node-19-0 {
    border-bottom-left-radius: 5px;
}

#node-0-0 {
    border-top-left-radius: 5px;
}

#node-0-49 {
    border-top-right-radius: 5px;
}