.app-container {
    background-image: url('assets/img/abstract-cube-cyan-purple-wallpaper-08d6cc1a3f5c67c94ee0f9e2e2a99b00.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -8px;
    height: 100vh;
    width: 100vw;
    min-height: 500px;
    min-width: 1200px;
    position: relative;
}

